body {
	padding-top: 0px;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* Black background with opacity */
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#cardContainer {
	border: 2px solid transparent;
	width: 99vw;
	min-height: inherit;
}

#inputValues {
	width: 30vw;
	height: 30vw;
	background-color: #ffffff;
	margin: auto;
	margin-top: 5vw;
	padding: 1vw;
}

.card {
	width: 18vw;
	height: 25vh;
	margin : .5vw;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #dddddd;
	background-color: #fcfcfc;
	transition: border-left .5s, border-right 1.5s, border-bottom 1s, border-top 2s, background-color .5s;	
}

.cardText {
	white-space: pre-line;
}

.text-muted {
  position: absolute;
  bottom: .5vw;
  right: 1vw;
}

.card:hover {
	border-left: 1px solid #34495e;
	border-right: 1px solid #34495e;
	border-bottom: 1px solid #34495e;
	border-top: 1px solid #34495e;
	background-color: #ffffff;
	cursor: pointer;
}

.addBtn {
	border-radius: 100%;
	width: 3vw;
	height: 3vw;
	margin-left: 1vw;
}

.input-group {
	padding-left: 1vw;	
}

.form-control {
	height: 20vw;
	resize: none;
	padding-left: 1vw;	
}

.inputError {
	border: 1px solid red;
}