<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Login</title>
      
      <link rel="stylesheet" type="text/css" href="login.css">
   </head>
   <body>
   		<div id="container">
   			<div id="login">
   				<p>Login</p>
		   		<form>
				    <input placeholder="Username" type="text" /> <br>
				    <input placeholder="Password" type="password" /><br>
				    <input value="Login" type="submit" />
				</form>
			</div>
			<div id="register">
				<p>Register</p>
		   		<form>
				    <input placeholder="Username" type="text" /> <br>
				    <input placeholder="Password" type="password" /><br>
				    <input placeholder="Confirm Password" type="password" /><br>
				    <input value="Register" type="submit" />
				</form>
			</div>
		</div>
   </body>
</html>